
.dark{
    background-color: black;
}

.imgs {
    position: relative;
    height: 100%;
}

.center-fit {
    max-width: 100%;
    max-height: 100%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fontUp{
    color: darkred;
    font-size: 60px;
    position: relative; top:-200px;
}

.fontUp1{
    color: darkred;
    font-size: 60px;
    position:relative;top:200px;
}

.experience{
    color: white;
    margin-bottom: 0px;
    margin-top: -15px;
    text-align: center;
}

.red{
    color: red;
}

.experience1{
    color: white;
    margin-bottom: 0px;
    margin-top: -15px;
}


